body {
    font-family: 'Raleway', sans-serif;
	margin-top: 50px;
    /*padding-top: 50px;*/
    background-color: #474b4f;
    color: #000;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

#mynav{
    height: 80px;
    background-color: #fff;
}

body h1,h3{
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding: 40px 20px;
}


#special{
    padding-top: 153px;
}

#my_form{
    color: #fff;
}
#card_body{
	height: 300px;
    position: relative;
    overflow: hidden;
    
}

#card_footer{
	border: none;
	position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0; padding: 10px 0; 
	
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, #fff);
}

